body, nav, header, section, article, div{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

section:before, section:after{
	content: "";
	display: table;
	clear: both;
}

nav{
	height: 150px;
	background-color: pink;
	width: 320px;
	margin: 0 auto;
}

header{
	height: 250px;
	background-color: darkorange;
	width: 320px;
	margin: 0 auto;
}

body{
	background-color: lightgrey;
}

main section{
	width: 320px;
	margin: 0 auto;
	background-color: #999;
}

main section div{
	height: 300px;
	width: 320px;
	padding:0px;
	margin: 0px;
	background-color: lavender;
	float: left;
}

section div:nth-child(2n){
	background-color: lightblue;
}

footer{
	height: 200px;
	background-color: #333;
	width: 320px;
	margin: 0 auto;
}